/* font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: lightblue;
}

.hero {
    width: 100%;
}

.main {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}


.contai {
    display: none;
}

.music {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 8rem;
  max-width: 500px;
  margin: 0 auto;
  z-index: 99;
  display: none;
}

.music .my-music {
  position: absolute;
  right: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d7167;
  border-radius: 50%;
  box-shadow: 0 0 5px #000;
  animation: rol 3s linear infinite;
  cursor: pointer;
  color: #fff;
}

.home {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("/image/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 0 1.5rem;
    transition: translate .8s;
    z-index: 200;
    overflow: hidden;
}

.person-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-content img {
    width: 250px;
    filter: drop-shadow(0 0 3px #000);
}

.person-content h2,
.content h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    color: #000;
    font-weight: 700;
}

.content img {
    padding: 3rem 0;
    width: 250px;
    filter: drop-shadow(0 0 3px #000);
}

.person-content h4 {
    margin: 1.2rem 0;
    font-size: 1.3rem;
}

.person-content p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.person-content p:nth-child(5) {
    text-align: center;
    font-size: .9rem;
    padding: 0 1.7rem;
}

.person-content a {
    display: flex;
    align-items: center;
    margin-top: 1.7rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 50px;
    background-color: #000273;
    transition: all .5s;
}

.person-content a i {
    margin-right: .7rem;
    font-size: 1.5rem;
}

.person-content a:hover {
    background-color: #000;
}

.hal1 {
    width: 100%;
    height: 100vh;
    background-image: url("/image/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.navigasi {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 500px;
    height: 10%;
    background-color: #269794;
    margin: auto;
    z-index: 100;
}

.navigasi a {
    font-size: 1.3rem;
    background-color: #1d7167;
    padding: 10px 13px;
    border-radius: 10px;
    margin: auto;
    color: #fff;
}

.content {
    text-align: center;
}

.content h1 {
    color: #000;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.content p {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.simply-countdown {
    -top: -5rem;
}

.quotes {
    max-width: 500px;
    background-color: #1d7167;
    color: #fff;
    font-size: .8rem;
    text-align: center;
}

.quotes p {
    padding: 2rem 1rem;
}

.quotes p:nth-child(2) {
    color: #fff;
    padding: 0;
    margin-bottom: 1rem;
}

.hal2 {
    width: 100%;
    background-image: url(/image/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    padding: 0 1rem;
    text-align: center;
}

.hal2 p {
    font-size: 1rem;
    font-weight: 500;
}

.hal2 h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.info1 img,
.info2 img {
    width: 70px;
    filter: drop-shadow(0 0 3px #000);
}

.info1 h2,
.info2 h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
}

.info1 p,
.info2 p {
    font-size: 1.2rem;
    margin-top: -1.5rem;
}

.hal3 {
    width: 100%;
    background-image: url(/image/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.waktu {
    color: #000;
}

.waktu p {
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 5rem;
}

.waktu img {
    width: 200px;
    margin-top: 2rem;
}

.akad-nikah {
    margin-top: 2rem;
}

.akad-nikah h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.akad-nikah p {
    font-size: 1rem;
    font-weight: 400;
}

.akad-nikah p:nth-child(2) {
    color: #000;
}


.resepsi {
    color: #000;
    margin-top: 2rem;
}

.resepsi h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

.resepsi p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.resepsi p:nth-child(2) {
    color: #000;
}

.peta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peta iframe {
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 2rem;
}

.peta a {
    margin-top: 3rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    background-color: #1d7167;
    padding: 8px 13px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.peta a i {
    margin-right: .7rem;
    font-size: 1.7rem;
}

.hal4 {
    width: 100%;
    padding-bottom: 1rem;
    background-image: url(/image/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-hal4 {
    padding: 3rem 1.5rem;
    color: #000;
}

.content-hal4 h1 {
    color: #000;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 5rem;
    position: relative;
    text-align: start;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 3px;
    background-color: #1d7167;
    left: 1.4rem;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #1d7167;
}

.timeline li .timeline-panel {
    width: 80%;
    border-left: 2px solid #1d7167;
    position: relative;
    border-radius: 7px;
    background-color: #fff;
    margin-left: 4.5rem;
    box-shadow: 0 0 5px #000;
}

.timeline li .timeline-panel::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -15px;
    border-top: 15px solid transparent;
    border-left: 0 solid #1d7167;
    border-right: 15px solid #1d7167;
    border-bottom: 15px solid transparent;
    filter: drop-shadow(-1px 0 1px #000);
}

.timeline li .timeline-panel .timeline-body p {
    font-size: 1rem;
    padding: 1rem;
}

.quots {
    width: 100%;
    background-color: #1d7167;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.quots .content-quots {
    padding: 0 1.5rem;
}

.quots .content-quots h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.quots .content-quots p {
    font-size: .9rem;
}

.gift {
    width: 100%;
    background-image: url(/image/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0;
}

.gift .gift-deskrip {
    padding: 1rem 1.5rem;
    margin-top: -4rem;
}

.gift .gift-deskrip h1 {
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #000;
}

.gift .gift-deskrip p {
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 1rem;
    color: #000;
}

.gift .dana {
    margin-top: 1rem;
    text-align: center;
    color: #000;
}

.gift .dana img {
    width: 150px;
    margin-bottom: 1rem;
}

.gift .dana h2 {
    text-transform: capitalize;
    color: #000;
    margin-bottom: 1rem;
}

.gift .dana h3 {
    text-transform: capitalize;
    color: #000;
    font-size: 1.1rem;
}

.gift .dana p {
    text-transform: capitalize;
    color: #000;
    font-size: 1.1rem;
    margin-top: -1rem;
}

.gift .dana button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #1d7167;
    color: #fff;
    margin-top: -.8rem;
    text-transform: capitalize;
    cursor: pointer;
}

.gift .qris {
    color: #000;
    margin-top: 2rem;
}

.gift .qris img {
    width: 150px;
    filter: drop-shadow(0 0 3px #000);
    margin-bottom: 1rem;
}

.gift .qris h2 {
    text-transform: capitalize;
    color: #000;
    margin-bottom: 1rem;
}

.gift .qris h3 {
    text-transform: capitalize;
    color: #000;
    font-size: 1.1rem;
}

.gift .qris p {
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: -1rem;
    color: #000;
}

.gift .qris button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #1d7167;
    color: #fff;
    margin-top: -.8rem;
    text-transform: capitalize;
    cursor: pointer;
}

.penutup {
    width: 100%;
    background-image: url(/image/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0;
}

.penutup .deskrip-penutup {
    margin-top: -5rem;
    padding: 0 1.5rem;
}

.penutup .deskrip-penutup p {
    color: #000;
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 500;
}

.penutup .component-penutup {
    margin-top: 1.5rem;
}

.penutup .component-penutup img {
    width: 200px;
}

.penutup .component-penutup h2 {
    margin-top: 1.5rem;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #000;
}

.penutup .component-penutup p {
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
}

.penutup .ucapan {
    width: 100%;
    padding: 0 1.5rem;
}

.penutup .ucapan p {
    color: #fff;
    background-color: #1d7167;
    padding: 7px 0;
    border-radius: 0 0 10px 10px;
    text-transform: capitalize;
    font-size: 1rem;
}

.col-ucapan {
    margin-top: 2rem;
    background-color: #1d7167;
    border-radius: 10px;
    padding: 1rem;
}

@keyframes rol {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
    transform: rotate(360deg);
    }    
}
